{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-dark py-1">
        <div class="container ">
            <div class="row align-items-center py-2">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="mb-4 mb-md-0 text-primary text-uppercase">CONTACT US</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-outline-primary" href="main.php">Home</a>
                        <i class="fa fa-angle-double-right text-primary mx-2"></i>
                        <a class="btn btn-outline-primary disabled" href="">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Start -->

    <!-- Contact Start -->
    <div class="container-fluid bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div
                        class="py-5 px-4 h-100 bg-secondary d-flex flex-column align-items-center justify-content-center">
                        <h2 class="text-white align-item-center font-weight-normal text-uppercase mb-3 ">CONTACT DETAILS
                        </h2>
                        <br>
                        <br>
                        <ul align-item-center>
                            <p><i class="fa fa-map-marker mr-2"></i>ABC, New Delhi, India</p>
                            <p><i class="fa fa-phone mr-2"></i>+012 345 67890</p>
                            <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                        </ul>
                        <div class="d-flex justify-content-start mt-4">
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                                style="width: 38px; height: 38px;" href="https://twitter.com/i/flow/login"><i
                                    class="fa fa-twitter" style="color: #3d0179;"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                                style="width: 38px; height: 38px;" href="https://www.facebook.com/"><i
                                    class="fa fa-facebook-f" style="color: #3d0179;"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                                style="width: 38px; height: 38px;"
                                href="https://in.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F"><i
                                    class="fa fa-linkedin" style="color: #3d0179;"></i></a>
                            <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0"
                                style="width: 38px; height: 38px;" href="https://www.instagram.com/"><i
                                    class="fa fa-instagram" style="color: #3d0179;"></i></a>
                        </div>
                    </div>
                </div>

                <div class="about col-lg-7 m-0 my-lg-5 pt-3 pb-5 pb-lg-2 pl-lg-4 align-items-center">
                    <div class="imgg flex-column align-items-center justify-content-center ">
                        <h3 class="txt text-secondary font-weight-bold bg-light">CONTACT US</h>
                    </div>
                    <form method="post">
                        <div class="form-group">
                            <i class="fa fa-user mr-1"></i>
                            <label>Name :</label>
                            <input type="name" name="name" id="name" class="form-control" placeholder="Full Name"
                                required="required">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-envelope mr-1"></i>
                            <label>Email ID :</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email ID"
                                required="required">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-phone mr-1"></i>
                            <label>Phone Number :</label>
                            <input type="tel" name="phone" id="phone" class="form-control" placeholder="Phone Number"
                                required="required">
                        </div>
                        <div class="form-group">
                            <i class="fa fa-comment mr-1"></i>
                            <label>Comment :</label>
                            <textarea class="form-control" rows="3" name="message" type="comment"
                                placeholder="Leave your Comment" id="comment" required="required"></textarea>
                        </div>
                        <div class="primary-checkbox-container m-4">
                            <div class="row mb-3 mr-4">
                                <input class="primary-checkbox mr-1 " type="checkbox" required>
                                <div class="primary-checkbox-description color_black font_size_small">I agree to the <a
                                        class="font_size_small color_primary" href="" target="_blank">Privacy
                                        Policy</a>.</div>
                            </div>
                        </div>
                        <div class="container">
                            <button class="btn btn-outline-success bg-basic" value="submit" name="submit" type="submit"
                                onclick="func()">Submit</button>

                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

{% include 'footer.html' %}
{% endblock %}