{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-dark py-1">
        <div class="container ">
            <div class="row align-items-center py-2">
                <div class="col-md-6 text-center text-md-left">
                    <h1 class="mb-4 mb-md-0 text-info text-uppercase">PROJECTS</h1>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex align-items-center">
                        <a class="btn btn-outline-primary" href="main.php">Home</a>
                        <i class="fa fa-angle-double-right text-primary mx-2"></i>
                        <a class="btn btn-outline-primary disabled" href="">Projects</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header Start -->

    <!--Projects starts-->

    <section>
        <div class="container-fluid py-5">
            <div class="container py-3 ">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col text-center mb-4">
                        <h6 class="text-primary font-weight-normal text-uppercase mb-3">OUR PROJECTS</h6>
                        <h1 class="mb-4">Some Of Our Awesome Interior Designing Projects</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mb-2">
                        <ul class="list-inline mb-4" id="portfolio-flters">
                            <li class="btn btn-outline-primary m-1 active" data-filter="*">All</li>
                            <li class="btn btn-outline-primary m-1" data-filter=".first">Complete</li>
                            <li class="btn btn-outline-primary m-1" data-filter=".second">Running</li>
                            <li class="btn btn-outline-primary m-1" data-filter=".third">Upcoming</li>
                        </ul>
                    </div>
                </div>
                <div class="row mx-1 portfolio-container ">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                            <div class="position-relative overflow-hidden">
                                <div class="project-img d-flex align-items-center justify-content-center">
                                    <img class="img-fluid" src="../static/Images/project/p1.jpg" alt="">
                                </div>
                                <div
                                    class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                                    <h4 class="text-white mb-4">Project Name 1</h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="btn btn-outline-light m-1" href="">
                                            <i class="fa fa-link"></i>
                                        </a>
                                        <a class="btn btn-outline-light m-1" href="../static/Images/project/p1.jpg"
                                            data-lightbox="project" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 p-1 py-1 portfolio-item second">
                            <div class="position-relative overflow-hidden">
                                <div class="project-img d-flex align-items-center justify-content-center">
                                    <img class="img-fluid" src="../static/Images/project/p2.jpg" alt="">
                                </div>
                                <div
                                    class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                                    <h4 class="text-white mb-4">Project Name 2</h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="btn btn-outline-light m-1" href="">
                                            <i class="fa fa-link"></i>
                                        </a>
                                        <a class="btn btn-outline-light m-1" href="../static/Images/project/p2.jpg"
                                            data-lightbox="project" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 p-1 py-1 portfolio-item third">
                            <div class="position-relative overflow-hidden">
                                <div class="project-img d-flex align-items-center justify-content-center">

                                    <img class="img-fluid" src="../static/Images/project/p3.jpg" alt="">
                                </div>
                                <div
                                    class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                                    <h4 class="text-white mb-4">Project Name 3</h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="btn btn-outline-light m-1" href="">
                                            <i class="fa fa-link"></i>
                                        </a>
                                        <a class="btn btn-outline-light m-1" href="../static/Images/project/p3.jpg"
                                            data-lightbox="project" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                            <div class="position-relative overflow-hidden">
                                <div class="project-img d-flex align-items-center justify-content-center">
                                    <img class="img-fluid" src="../static/Images/project/p4.jpg" alt="">
                                </div>
                                <div
                                    class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                                    <h4 class="text-white mb-4">Project Name 4</h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="btn btn-outline-light m-1" href="">
                                            <i class="fa fa-link"></i>
                                        </a>
                                        <a class="btn btn-outline-light m-1" href="../static/Images/project/p4.jpg"
                                            data-lightbox="project" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 p-1 py-1 portfolio-item second">
                            <div class="position-relative overflow-hidden">
                                <div class="project-img d-flex align-items-center justify-content-center">
                                    <img class="img-fluid" src="../static/Images/project/p5.jpg" alt="">
                                </div>
                                <div
                                    class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                                    <h4 class="text-white mb-4">Project Name 5</h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="btn btn-outline-light m-1" href="">
                                            <i class="fa fa-link"></i>
                                        </a>
                                        <a class="btn btn-outline-light m-1" href="../static/Images/project/p5.jpg"
                                            data-lightbox="project" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 p-1 py-1 portfolio-item third">
                            <div class="position-relative overflow-hidden">
                                <div class="project-img d-flex align-items-center justify-content-center">

                                    <img class="img-fluid" src="../static/Images/project/p6.jpg" alt="">
                                </div>
                                <div
                                    class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                                    <h4 class="text-white mb-4">Project Name 6</h4>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a class="btn btn-outline-light m-1" href="">
                                            <i class="fa fa-link"></i>
                                        </a>
                                        <a class="btn btn-outline-light m-1" href="../static/Images/project/p6.jpg"
                                            data-lightbox="project" target="_blank">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <a href="display.php"
                        class="btn btn-outline-primary btn-lg btn-block align-items-center py-2  ">OPEN GALLERY</a>
                </div>
            </div>
        </div>
    </section>

    <!--Projects starts-->

    {% include 'footer.html' %}
    {% endblock %}